/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #34495e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus{
  color:#fff;
}
.navbar{
  background-color:#1abc9c;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color:#16a085;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color:#16a085;
}

table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}
table tr{
  margin:20px;
}
table tr td{
  /*border:2px solid #2980b9;*/
  width:50px;
  height:50px;
}

table tr td i{
    font-size:55px;
    color:#d9dcde;
}
.center-table {
  margin: 0 auto !important;
  float: none !important;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#main-content{
  margin-top:30px;
}
#room-url{
  margin-top:30px;
}
.share-label {
  line-height: 34px;
  text-align: right;
}

.p1-score, .p2-score{
  padding:0 20px;
  height:90px;
  width:auto;
  float:right;
  background-color:#f1c40f;
  margin-top:50%;
  color:#fff;
  font-size:65px;
  border-radius: 5px;
}
.p2-score{
  float:left;
  background-color:#e74c3c;
}
.p1-score i, .p2-score i{
  font-size:42px;
  vertical-align:middle;
  position:relative;
  display:inline-block;
  height:51px;
}
.text{
  margin-top:80px;
  text-align:center;
}
.text h2{
  text-transform:uppercase;
  font-size:60px;
  color:#2c3e50;
}
.text h3,.text i{
  color:#2c3e50;
}
.text span{
  font-size:180px;
}
.text a{
  color:#1abc9c;
  cursor:pointer;
  font-size:22px;
  text-transform: uppercase;
  letter-spacing:2px; 
}
.text a span{
  font-size:inherit;
}
.text a:hover{
  color:#16a085;
}

.confirm p{
  font-size:35px;
  text-transform: uppercase;
  margin-bottom:20px;
}

.form-group i{
  top:6px;
  position:absolute;
  display:inline-block;
  float:right;
  margin-left:10px;
  font-size:20px;
  color:#1abc9c;
}
.index{
  margin-top:-30px;
}
.button{
  position:relative;
  background-color:#1abc9c;
  width:250px;
  margin:0 auto;
  margin-top:50px;
  padding:15px;
  color:#fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-size:20px;
  border-radius: 10px;
}
.index h1{
  font-size:60px;
}
.index a{
  text-decoration: none;
}
.button:hover{
  background-color:#16a085;
}
.logo{
  margin-top:30px;
}
.logo span{
  font-size:30px;
}
.logo i{
  font-size:110px;
}
.clear{
  clear:both;
}
.p1-status, .p2-status{
  margin-top:20px;
  position:relative;
  text-align:center;
  width:126px;
  float:right;
}
.p1-status i, .p2-status i{
  color:#eb6b56;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.online i{
  color:#2ecc71;
}
.p1-status span, .p2-status span{
  font-size:13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a, h1{
  letter-spacing: 1px;
}