doctype html

html(lang="en")
	head
		title Connect4
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='static/stylesheets/alertify.core.css')
		link(rel='stylesheet', href='static/stylesheets/alertify.default.css')
		link(rel='stylesheet', href='static/stylesheets/style.css')

		meta(property="og:image" content="http://connect4.bumjung.com/static/preview.png")
		script(type='text/javascript')
			| (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			| (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			| m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			| })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			| ga('create', 'UA-44477908-2', 'connect4.bumjung.com');
			| ga('send', 'pageview');

	body
		.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.content
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse",data-target=".navbar-collapse")
						span.sr-only 
							Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Connect4 
						|&nbsp;
						i(class="fa fa-circle" style="color:#f1c40f;")
						|&nbsp;
						i(class="fa fa-circle" style="color:#e74c3c;")
				.collapse.navbar-collapse
					//-ul.nav.navbar-nav
						li.active
							a(href="/") Home
						li
							a(href="/about") About
		
		block content

		#footer
			.container
				p.text-muted(style="color:#fff; font-size:12px; letter-spacing:1px;")
					| Developed by 
					a(href="http://bumjung.com") Paul Kim
					span(style="color:#ecf0f1; font-size:11px; margin-left:5px;") using Node.js, Socket.io, Express, Jade
					span(style="float:right;") Released on 04.12.14
		block javascript
		script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type="text/javascript" src='/socket.io/socket.io.js')
		script(type="text/javascript" src="static/javascript/ZeroClipboard.min.js")
		script(type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(type="text/javascript" src='static/javascript/alertify.min.js')
		script(type="text/javascript" src='static/javascript/frontend.js')

