extends text_base

block texts
	.index
		h2 CONNECT4
		.logo
			span(style="display:block;")
				i(class="fa fa-circle" style="color:#f1c40f;")
				|&nbsp;
				i(class="fa fa-circle" style="color:#e74c3c;")
			span(style="display:block;")
				i(class="fa fa-circle" style="color:#e74c3c;")
				|&nbsp;
				i(class="fa fa-circle" style="color:#f1c40f;")
		a(href="/room")
			.button Create a room
